/*Possible Color Scheme
Navy Blue: #18121E
Gun Metal: #233237
Rusty Red: #984B43
Warm Yellow: #EAC67A

*/


/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
	margin: 0;
    font-family: 'Open Sans', sans-serif, "Helvetica", "Arial";
}
h1{
	font-size: 1.8em;
	color: rgb(80,80,80);
	font-weight:bold;	
}

h2{
	color: rgb(170,170,170);
	word-spacing: 7px;
	font-size: .85em;
	font-weight: bold;
	letter-spacing: 3px;
}

h3{
	font-weight: normal;
	font-size: .8em;
	color:#999;
	padding-bottom:10px;
}

p{
	line-height: 1.4;
	color:#aaa;
}

.Content p{
	color: rgb(80,80,80);
}

a{
	text-decoration: none;	
	font-size: .8em;
	color:inherit;
}

ul.s {
	list-style-type: square;
	padding-left:29px;

}

li{
	padding-right: 3px;
	margin-bottom: 5px;
	color: rgb(64,64,64);
	font-size: .9em;
}

a.plain{
	text-decoration: underline;
	font-size: 1em;
	color: rgb(102,102,102);

}

h2.indexYear{
	color: rgb(64,64,64);
	font-size:1.15em;
	font-weight: bold;
}

.align-c{
	text-align: center;
}

.hero-img-about{
	width:100%;
	background: url("/images/about-hero.jpg") no-repeat;
	height: 300px;
	background-size: cover;
	background-position-y: center;
}

.hero-img{
	width:100%;
	background: url("/images/hero.jpg") no-repeat;
	height: 300px;
	background-size: cover;
	background-position-y: center;
}

.date{
	color: rgb(64,64,64);
	font-size: 1em;
}

.content-border{
	background-color:rgb(242,240,237);
	border: 20px solid white;
	margin-left: -20px;

}

.article-preview{
	border-top: 1px solid rgb(242,240,237);
	padding-top:20px;
    margin: 25px 0px;

}

.article-preview-image{
	width: 0px;
	height: 0px;	
}	

.article-preview p {
	color: rgb(170,170,170);
	line-height: 1.6;
	font-size: 1.1em;
}

.article-title{
	letter-spacing: 0px;
	margin-bottom: 0px;
}

.article-subtitle{
	font-size: 1.35em;
	color: rgb(80,80,80);
	margin-top: 25px;
	margin-bottom:25px;
	text-align: left;
}

.article-p{
	font-size: .95em;
	line-height: 1.6;
	word-spacing: 2px;
	color: rgb(64,64,64);
}

.article-date{
	border-bottom: 1px solid rgb(242,240,237);
	padding-bottom: 25px;
	margin-bottom:25px;
}

.contactP{
	/*font-size: */
}

.contactHeader{
	font-size: 1.4em;
	margin-bottom:18px;
}

.Page-Header{
	background-color: rgb(64,64,64);
	padding: 25px;
	position: relative;
	padding-bottom:25px;
	z-index: 1;
}

.Page-Title{	
	float: left;
	cursor: pointer;
}

.Header-Main-Title{
	color: rgb(230,230,230);
	font-size: 1.25em;
}

.Header-Sub-Title{
	color: rgb(168,168,168);
	font-size: .8em;
}

.Wide-Navigation-Links{
	display: none;
}

.wide-buttons{
	display:none;
}

.Hamburger-Holder{
	float:right;
	margin-top: 12px;
	cursor: pointer;
}

.Hamburger{
    width: 20px;
    height: 2px;
    background-color: rgb(240,240,240);
    margin: 3px 0;
}

#Hamburger-Button{
	width:20px;
}

.Content{
	padding: 20px;
}
/*#Content-Title*/

.divide{
    width: 100%;
    height: 1px;
    background-color: rgb(242,240,237);
    margin: 25px 0px;
}

.Content-Navigation{
	position:absolute;
	width:100%;
	background-color: rgb(244, 242, 240);
	padding:20px;
	padding-top:27px;
	box-shadow: 0px 2px 2px rgb(224,224,224);
	margin-top: -500px;
	transition: margin-top 0.5s ease;
}

.Navigation-Icons{
	float:left;	
}

.navThumb{
	width:25px;
	opacity: 0.25;
    filter: alpha(opacity=25);
	margin-right:7px;
	transition: opacity	 0.5s ease;
}

.navThumb:hover{
	width:25px;
	opacity: 1.0;
	filter:none;
}

.activeL{
	transition: color 0.5s ease;
}

.activeL:hover{
	color: rgb(108,191,142);
}

.article-preview:hover .activeL {
	color: rgb(108,191,142);
}

.Navigation-Links{
	float:right;
}

a.Nav-Link {
	margin:0 7px;
	font-weight: bold;
	color: rgb(102,102,102);
	font-size: .85em;
}

a.Navigation-Links {
	float:right;
	word-spacing: 20px;	
}

.article-content h1{
	letter-spacing: 0px;
	margin-bottom: 0px;
}

.article-content h2 {
	font-size: 1.35em;
	color: rgb(80,80,80);
	margin-top: 25px;
	margin-bottom:25px;
	text-align: left;
}

.article-content h3{
	border-bottom: 1px solid rgb(242,240,237);
	padding-bottom: 25px;
	margin-bottom:25px;
}

.article-content p {
	font-size: .95em;
	line-height: 1.6;
	word-spacing: 2px;
	color: rgb(64,64,64);
}

.BT {
	background-color: rgb(7,36,78);

}

.Left-Top-Img {
	float: left;
    height: 160px;
    border-right: solid white 10px;
}

.Right-Top-Img {
	float: right;
	margin-top:25px;
}

.Page-Header-BT{
	background-color: rgb(21,169,225);
	position: relative;
	z-index: 1;
	padding-right: 25px;
	margin-bottom: none;

}

.Header-BT{
	text-align: center;
	color:white;
}

.Tab-Divide{
	position: inline;
	width:100%;
	text-align: center;
	height: 40px;

}

.Tab-Devide ul li {
	color:white;
}
.Hello{
	background-color: rgb(21,169,225);
	text-align: center;
	padding: 3em auto;
}

.Hello h1{
	color: white;
}

.Hello h3{
	color:white;
	font-size: 1.25em;
	padding:none;
	margin:none;
}

.Header-Img{

}





@media (min-width: 570px) {
	.flex {
		display: flex;
		justify-content: flex-start;
	}
	.Content{
		padding: 20px;
		margin:auto;
		max-width: 900px;
	}	
	.article-subtitle{
		text-align: left;
	}

	.article-content h2{
		text-align: left;
	}

	.wrapper{
		/*width:535px;*/

	}
	.article-preview {
		/*width: 535px;*/
		/*text-align:center;*/
		margin:auto;	
	}

/*Possible Color Scheme
Navy Blue: #18121E
Gun Metal: #233237
Rusty Red: #984B43
Warm Yellow: #EAC67A

*/

	.article-preview-image{
		width: 180px;
		height: 180px;
		background-color:rgb(244,242,240);
		margin-right: 20px;
		margin-top: auto;
		margin-bottom: auto;
		border: solid rgb(84,84,84) 1px;


	}

	.preview-link{
		/*width: 66.6%;*/
	}

	.article-index{
		text-align: left;
		margin:auto;
		width:550px;

	}
	.indexYear h2{
		text-align: left;
		float: left;
	}	

	.Page-Header{
		background-color: rgb(244,242,240);
		padding: 25px;
		position: relative;
		padding-bottom:25px;
		z-index: 1;
	}

	.Header-Main-Title{
		color: rgb(102,102,102);
		font-size: 1.25em;
	}

	.Header-Sub-Title{
		color: rgb(158,158,158);
		font-size: .8em;
	}

	.Hamburger-Holder{
		display:none;
	}


	.Wide-Navigation-Links{
		display: block;
		float: right;
		padding-top: 10px;
	}

	.wide-buttons{
		text-align: center;
		display: block;
		padding-top:10px;
	}


}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}